/*formulaires register, login*/

form {}

form.box {
    background: #1c242d;
    border: 1px solid #c4c4c4;
    background: white;
    width: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 30%;
    border-radius: 1rem;
    background: radial-gradient(#EFE6F3, #B5A3BC);
}

h1.box-title {
    color: grey;
    background: #f8f8f8;
    font-weight: 300;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    border-radius: 1rem;
}

.box-button {
    border-radius: 5px;
    background: grey;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    width: 60%;
    height: 51px;
    padding: 0;
    color: #fff;
    border: 0;
    outline: 0;
}

.box-register {
    text-align: center;
    margin-bottom: 0px;
}

.box-register a {
    text-decoration: none;
    font-size: 12px;
    color: #666;
}

.box-input {
    font-size: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding-left: 10px;
    border-radius: 1rem;
    width: 347px;
    height: 50px;
}

.box-input:focus {
    outline: none;
    border-color: #5c7186;
}

.sucess {
    text-align: center;
    color: white;
}

.sucess a {
    text-decoration: none;
    color: #58aef7;
}

p.errorMessage {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}


/*--------------GOLD-BOOK FORM---------------*/

form .form-gold-book {
    width: 30%;
}

.form-gold-book {
    padding-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
