/*darkmode->mal voyant*/

/* *****************************************************************
GENERALITIES
***************************************************************** */

/* Le corps du document */

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Dancing Script', cursive;
    color: grey;
    text-align: center;
    margin: 10px;
    text-decoration: underline;
    text-underline-position: under;
}

/* Les liens */

a {
    text-decoration: none;
}

/* L'entête de la page */

.navbar ul {
    background: radial-gradient(#EFE6F3, #B5A3BC);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.navbar li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.nav {
    color: grey;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}

.navinscription {
    color: grey;
    font-family: 'Dancing Script', cursive;
    border: 1px grey;
    border-radius: 10px;
    padding-right: 1rem;
    padding-left: 1rem;
    text-decoration: none;
}

.naviconeCo,
.naviconeDeco {
    text-decoration: none;
    color: grey;
}

.navbar a {
    margin: 0 10px;
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

/* Quand le visiteur sélectionne le lien */

.navbar a:active {
    color: black;
}

/*souligner au survol*/

.navbar a:hover {
    color: black;
    text-decoration: underline;
}

/* *****************************************************************
FOOTER
***************************************************************** */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 1rem;
    background: radial-gradient(#EFE6F3, #B5A3BC);
}

.contact {
    display: flex;
    text-align: center;
}

.me-contacter {
    display: flex;
    flex-direction: column;
}

address {
    font-size: 1rem;
}

i {
    color: grey;
}

.reseaux-sociaux {
    font-size: 1rem;
}

.box-reseaux {
    color: grey;
    display: flex;
    justify-content: center;
}

.rs-f {
    margin-right: 1rem;
}

.rs-i {
    margin-left: 1rem;
}


/*=====================1HOMEPAGE======================*/

img {
    max-width: 100%;
    height: auto;
}

.picture-homepage {
    background-image: url("./pictures/graph.jpg");
    background-size: cover;
    background-position: center;
    height: 95vh;
    position: relative;
    text-align: center;
    color: white;
}

.text {
    max-width: 100%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Parisienne', cursive;
    font-size: 5em;
}


/*-------------------2PRESENTATION-----------------------*/

.presentation-galerie {
    font-size: 15px;
    text-align: center;
}

blockquote p {
    font-family: 'Dancing Script', cursive;
    font-size: 1.1rem;
    padding-top: 2rem;
}

cite {
    font-size: 0.9rem;
    padding-left: 1rem;
}

div .image {
    max-width: 100%;
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}

div:hover .image {
    filter: grayscale(0);
}

.galerie-grid .box {
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
}

.galerie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    width: 70%;
    height: auto;
    padding-left: 7em;
}

.img4 {
    grid-area: 1 / 2 / 4 / 4;
    padding-top: 5em;
}

.img3 {
    grid-area: 3 / 3 / 5 / 6;
}

.img1 {
    grid-area: 4 / 1 / 6 / 4;
    padding-top: 2em;
}

.img2 {
    grid-area: 5 / 3 / 8 / 5;
    padding-bottom: 5em;
    padding-left: 2em;
}

.img6 {
    grid-area: 4 / 6 / 6 / 9;
    padding-bottom: 3em;
}

.img5 {
    grid-area: 5 / 5 / 7 / 8;
    padding-left: 1em;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.source {
    text-align: center;
}



/*-------------------------3PAINT-ART-------------------------*/

.paint-art {
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1rem;
}

.img-left {
    float: left;
    margin-right: 1em;
    transform: rotate(90deg);
    height: 12rem;
}

.img-right {
    float: right;
    margin-left: 1em;
    width: 13em;
}

.clear {
    clear: both;
}

.art1,
.art3,
.art5 p {
    padding-left: 12em;
    padding-top: 1em;
}

/*------------------------GOLD_BOOK-----------------------------*/

.temoignage {
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.temoignage1,
.temoignage2,
.temoignage3,
.temoignage-all p {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.temoignage1 {
    margin-right: 35em;
}

.temoignage2 {
    margin-right: 4em;
}

.temoignage3 {
    margin-left: 25em;
}


/*>>>>>>>>>>>RESPONSIVE<<<<<<<<<<<<<<<*/

/*tablette*/

@media screen and (min-width:768px) {
    .picture-homepage {
        background-image: url("./pictures/graph.jpg");
        background-size: cover;
        height: 800px;
    }

}

/*mobile*/

@media screen and (max-width:767px) {

    .navbar.active {
        display: flex;
    }
    .navbar {
        height: 100%;
        width: 250px;
        /*largeur pour cacher le menu*/
        position: fixed;
        display: none;
        z-index: 1;
        /*pour que le menu passe au dessus de la page html*/
        top: 0;
        /*positionné au dessus
        left: -250px;*/
        background-color: #e8e8e8;
        padding-top: 39px;
        transition: left 0.5s ease;
    }
    .navbar a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .navbar a:hover {
        color: #111;
    }
    .navbar ul {
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-bottom: 25rem;
    }
    .navbar.close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    /* Icône burger */
    .burger-icon span {
        background: radial-gradient(#EFE6F3, #B5A3BC);
        display: block;
        width: 35px;
        height: 5px;
        background-color: grey;
        margin: 6px 0;
    }
    form.box {
        padding-left: 3rem;
        padding-right: 3rem;

    }
    /*-----TITRE HOMEPAGE-----*/
    .text {
        font-size: 7rem;
        left: 32rem;
    }
}
